@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  font-family: 'Libre Franklin', serif;
  font-size: 10px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.btn_buy {
  @apply sm:text-[1.4rem] lg:text-[1.8rem] w-max cursor-pointer transition-all duration-[1s] bg-red-600 px-[20px] py-[10px] rounded-[24px] text-[white] border-red-600 border-solid border-[3px] hover:bg-transparent hover:text-red-600;
}

.btn_back {
  @apply sm:text-[1.4rem] lg:text-[1.8rem] w-max cursor-pointer transition-all duration-[1s] bg-white px-[20px] py-[10px] rounded-[24px] text-[black] border-white border-solid border-[3px] hover:bg-transparent hover:text-white;
}
